<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">

      <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

        <!-- customer form group -->
        <div formGroupName="customer" class="form-area">
          <h3>Client</h3>

          <div class="row">
            <div class="col-md-2"> <label>Nume</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="firstName" type="text">

                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="firstName.errors.required || firstName.errors.notOnlyWhitespace">
                    Numele este necesar
                  </div>

                  <div *ngIf="firstName.errors.minlength">
                    Numeel trebuie sa aiba cel putin 2 caractere
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> <label>Prenume</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="lastName" type="text">
                <div *ngIf="lastName.invalid && (lastName.dirty ||lastName.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="lastName.errors.required || lastName.errors.notOnlyWhitespace">
                    Prenumele este necesar
                  </div>

                  <div *ngIf="lastName.errors.minlength">
                    Prenumele trebuie sa aiba cel putin 2 caractere
                  </div>
            </div>
          </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> <label>Email</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="email" type="text">
                 <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger mt-1">
                   <div *ngIf="email.errors.required">
                     Adresa de email este necesara
                   </div>
                   <div *ngIf="email.errors.pattern">
                     Adresa de email invalida
                   </div>
                 </div>
              </div>
            </div>
          </div>

        </div>

        <!-- shipping Address -->
        <div formGroupName="shippingAddress" class="form-area">
          <h3>Adresa de livrare</h3>

          <div class="row">
            <div class="col-md-2"> <label>Tara</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="country" (change)="getStates('shippingAddress')">
                  <option *ngFor="let country of countries" [ngValue]="country">
                    {{ country.name }}
                  </option>
                </select>
                <div *ngIf="shippingAddressCountry.invalid && (shippingAddressCountry.dirty || shippingAddressCountry.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="shippingAddressCountry.errors.required">
                    Tara este necesara
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> <label>Strada</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text">
                <div *ngIf="shippingAddressStreet.invalid && (shippingAddressStreet.dirty || shippingAddressStreet.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="shippingAddressStreet.errors.required || shippingAddressStreet.errors.notOnlyWhitespace">
                    Strada este necesara
                  </div>
                  <div *ngIf="billingAddressZipCode.errors.minlength">
                    Strada trebuie sa contina cel putin doua caractere
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> <label>Oras</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="city" type="text">
                <div *ngIf="shippingAddressCity.invalid && (shippingAddressCity.dirty || shippingAddressCity.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="shippingAddressCity.errors.required || shippingAddressCity.errors.notOnlyWhitespace">
                    Orasul este necesar
                  </div>
                  <div *ngIf="billingAddressZipCode.errors.pattern">
                    Orasul trebuie sa contina cel putin doua caractere
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> <label>Judet</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state">
                  <option *ngFor="let state of shippingAddressStates" [ngValue]="state">
                    {{ state.name }}
                  </option>
                </select>
                <div *ngIf="shippingAddressState.invalid && (shippingAddressState.dirty || shippingAddressState.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="shippingAddressState.errors.required">
                    Judetul este necesar
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> <label>Cod Postal</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="zipCode" type="text">
                <div *ngIf="shippingAddressZipCode.invalid && (shippingAddressZipCode.dirty || shippingAddressZipCode.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="shippingAddressZipCode.errors.required || shippingAddressZipCode.errors.notOnlyWhitespace">
                    Codul postal este necesar
                  </div>
                  <div *ngIf="billingAddressZipCode.errors.minlength">
                    Codul postal trebuie sa contina cel putin doua caractere
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <!-- Add check box to copy shipping to billing -->
        <div class="input-space">
          <label class="au-checkbox">
            <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
            <span class="au-checkmark"></span>Adresa de livrare aceeasi cu adresa de facturare
          </label>
        </div>


        <!-- Billing Address -->
        <div formGroupName="billingAddress" class="form-area">
          <h3>Adresa de facturare</h3>

          <div class="row">
            <div class="col-md-2"> <label>Tara</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="country" (change)="getStates('billingAddress')">
                  <option *ngFor="let country of countries" [ngValue]="country">
                    {{ country.name }}
                  </option>
                </select>
                <div *ngIf="billingAddressCountry.invalid && (billingAddressCountry.dirty || billingAddressCountry.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="billingAddressCountry.errors.required || billingAddressCountry.errors.notOnlyWhitespace">
                    Tara este necesara
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> <label>Strada</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text">
                <div *ngIf="billingAddressStreet.invalid && (billingAddressStreet.dirty || billingAddressStreet.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="billingAddressStreet.errors.required ">
                    Strada este necesara
                  </div>
                  <div *ngIf="billingAddressZipCode.errors.minlength">
                    Strada trebuie sa contina cel putin doua caractere
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> <label>Oras</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="city" type="text">
                <div *ngIf="billingAddressCity.invalid && (billingAddressCity.dirty || billingAddressCity.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="billingAddressCity.errors.required || billingAddressCity.errors.notOnlyWhitespace">
                     Orasul este necesar
                  </div>
                  <div *ngIf="billingAddressZipCode.errors.pattern">
                    Orasul trebuie sa contina cel putin doua caractere
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> <label>Judet</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state">
                  <option *ngFor="let state of billingAddressStates" [ngValue]="state">
                    {{ state.name }}
                  </option>
                </select>
                <div *ngIf="billingAddressState.invalid && (billingAddressState.dirty || billingAddressState.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="billingAddressState.errors.required ">
                    Judetul este necesar
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> <label>Cod Postal</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="zipCode" type="text">
                <div *ngIf="billingAddressZipCode.invalid && (billingAddressZipCode.dirty || billingAddressZipCode.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="billingAddressZipCode.errors.required || billingAddressZipCode.errors.notOnlyWhitespace">
                    Codul postal este necesar
                  </div>

                  <div *ngIf="billingAddressZipCode.errors.minlength">
                        Codul postal trebuie sa contina cel putin doua caractere
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>

        <!-- Credit Card -->
        <div formGroupName="creditCard" class="form-area">
          <h3>Card de credit</h3>

          <div class="row">
            <div class="col-md-2"> <label>Card Type</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="cardType">
                  <option>Visa</option>
                  <option>Mastercard</option>
                </select>
                <div *ngIf="creditCardType.invalid && (creditCardType.dirty || creditCardType.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="creditCardType.errors.required ">
                    Tipul cardului de credit este necesar
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> <label>Numele de pe card</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="nameOnCard" type="text">
                <div *ngIf="creditCardNameOnCard.invalid && (creditCardNameOnCard.dirty || creditCardNameOnCard.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="creditCardNameOnCard.errors.required || creditCardNameOnCard.errors.notOnlyWhitespace">
                    Numele de pe card este necesar
                  </div>
                  <div *ngIf="billingAddressZipCode.errors.minlength">
                    Numele trebuie sa aiba cel putin doua caractere
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> <label>Numarul cardului</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="cardNumber" type="text">
                <div *ngIf="creditCardNumber.invalid && (creditCardNumber.dirty || creditCardNumber.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="creditCardNumber.errors.required || creditCardNumber.errors.notOnlyWhitespace">
                    Numarul cardului este necesar
                  </div>
                  <div *ngIf="creditCardNumber.errors.pattern">
                    Numarul cardului trebuie sa aiba o lungime de 16 cifre
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> <label>Codul de securitate</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="securityCode" type="text">
                <div *ngIf="creditCardSecurityCode.invalid && (creditCardSecurityCode.dirty || creditCardSecurityCode.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="creditCardSecurityCode.errors.required || creditCardSecurityCode.errors.notOnlyWhitespace">
                    Codul de securitate este necesar
                  </div>
                  <div *ngIf="creditCardSecurityCode.errors.pattern">
                    Codul de securitate trebuie sa aiba o lungime de 3 cifre
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> <label>Expiration Month</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="expirationMonth">
                  <option *ngFor="let month of creditCardMonths">
                    {{ month }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> <label>Expiration Year</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="expirationYear" (change)="handleMonthsAndYears()">
                  <option *ngFor="let year of creditCardYears">
                    {{ year }}
                  </option>
                </select>
              </div>
            </div>
          </div>

        </div>

        <!-- Order details -->
        <div class="form-area">
          <h3>Review Your Order</h3>

          <p>Total Quantity: {{ totalQuantity }}</p>
          <p>Shipping: FREE</p>
          <p>Total Price: {{ totalPrice | currency: 'USD' }}</p>
        </div>

        <!-- submit button-->
        <div class="text-center">
          <button type="submit" class="btn btn-info">Purchase</button>
        </div>

      </form>

    </div>
  </div>
</div>
